[Desktop Entry]
Type=Application
Name=TAK Engine
GenericName=Real-Time Strategy
Comment=Clean-room engine recreation of Total Annihilation: Kingdoms
Exec=takclient
Icon=tak-client
Terminal=false
Categories=Game;StrategyGame;
